/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 23, 2017, 2:43:51 PM
    Author     : milo anderson
*/

///***** Colors *****///
@dark1: #222222;
@dark2: #333333; 
@gunmetal: #2d3947;
@interface: #FFBC56;

@pageviews: #4682b4;
@visitors: #191970;
@entrances: #8b0000;

///***** Layout *****///
@controlsHeight: 120px;
@navHeight: 74px;
@menuItemHeight: 24px;

@zindexMenu: 1100;

///***** Mixins *****///
.dark2 {
    background-color: @dark2;
    color: silver;
}

///***** Meat & Potatoes *****///
body {
    background-color: @dark2;
}
.wrap {
    display: flex;
    align-content: stretch;
}
body > .wrap > .container {
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    padding: 0px;
    background-color: @dark2;
}
.pageviews {
    color: screen(@pageviews, #555555);
}
.visitors {
    color: screen(@visitors, #555555);
}
.entrances {
    color: screen(@entrances, #505050);
}
.chartBox {
    width: 50%;
    //height: calc(~"100vh - "@controlsHeight);
    display: flex;
    flex-direction: column;
    h2, h3, h4, h5 {
        text-align: center;
    }
    .chart {
        background-color: white;
        padding-left: 10px;
    }
    #controlsBox {
        .dark2;
        //height: @controlsHeight;
        width: 100%;
        display: flex;
        .controls {
            display: flex;
            flex-direction: column;
            padding: 15px;
            margin: 10px 0px;
            background-color: @dark1;
            width: 100%;
        }
        #menu-content {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            ul {
                bottom: 100%;
            }
            li.controls-title {
                width: 8em;
                background-color: @dark1;
                cursor: default;
                color: silver;
                padding: 0px;
            }
            div:after {
                font-family: 'Glyphicons Halflings';
                color: @interface;
                content: '\e113';
                font-weight: normal;
                float: right;
                margin-right: 10px;
                margin-top: 5px;
            }
        }
        #menu-content > li:nth-of-type(1) {
            left: 0;
            font-weight: bold;
        }
        #menu-content > li:nth-of-type(2), #menu-content > ul:nth-of-type(1) {
            margin-left: 2em;
        }
        #menu-content > li:nth-of-type(3), #menu-content > ul:nth-of-type(2) {
            margin-left: 19em;
        }
        #menu-content > ul, #menu-content > li {
            position: absolute;
            list-style: none;
            cursor: pointer;
            margin: 0px;
            padding-left: 0px;
            width: 16em;
            z-index: @zindexMenu;
        }
        #menu-content > li {
            line-height: @menuItemHeight;
            border-bottom: 1px solid #23282e;
            background-color: @gunmetal;
            padding-left: 10px;
            text-decoration: none;
            color: silver;
        }
        ul .sub-menu li {
            background-color: #181c20;
            border: none;
            line-height: @menuItemHeight;
            border-bottom: 1px solid #23282e;
            margin-left: 0px;
            padding-left: 10px;
            width: 100%;
            font-weight: lighter;
        }
        ul .sub-menu li:hover {
            background-color: #020203;
        }
        .control-panel.select {
            position: relative;
        }
        .control-panel.date {
            display: flex;
            flex-direction: column;
            margin-top: 2.5em;
            width: 80%;
            #dateRow1 {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
                width: 100%;
                #dateCol1 {
                    display: flex;
                    justify-content: flex-start;
                    width: 40%;
                    input {
                        width: 7em;
                        height: 2em;
                        margin-right: 1em;
                        background-color: #eeeeee;
                    }
                }
                #dateCol2 {
                    display: flex;
                    justify-content: flex-end;
                    width: 30%;
                    button {
                        padding: 3px;
                        width: 7em;
                        height: 2em;
                        margin-left: 1em;
                    }
                }
            }
            #dateRow2 {
                margin-bottom: 5px;
            }
        }
    }
}
.tableBox {
    .dark2;
    width: 50%;
    padding: 0px 25px;
    font-size: .9em;
    .readoutBox {
        .dark2;
        display: flex;
        justify-content: space-between;
        padding: 10px 1px;
        font-weight: bold;
        font-size: 24px;
        .metric-panel {
            background-color: @dark1;
            text-align: center;
            padding: 4px;
            border-radius: 2px;
            width: 18%;
            h4 {
                padding: 2px;
                margin: 0px;
            }
        }
    }
    table {
        background-color: @dark1;
        border-color: @dark2;
        thead > tr > th:nth-child(1) {
            background-color: @dark2;
        }
        tbody > tr > td {
            padding: 5px 10px;
            border-color: @dark2;
        }
        .tableData {
            font-size: 1.1em;
            vertical-align: middle;
        }
        .entrances, .visitors, .pageviews {
            .tableData;
            font-weight: bold;
        }
        .avg_time, .bounce_rate {
            .tableData;
        }
        a {
            text-decoration: none;
        }
        a:after {
            font-family: 'Glyphicons Halflings';
            content: '\e114';
            color: silver;
            font-weight: normal;
        }
        a.asc:after {
            color: @interface;
            content: '\e113';
        }
        a.desc:after {
            color: @interface;
            content: '\e114';
        }
    }
    .pagination {
        margin: 0px;
    }
}
///***** Horrors *****///
#p0 .table-bordered > thead > tr > th {
    border-color: @dark2;
}
.wanker {
    margin-left: -17px!important;
}