# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# NPM dir
/node_modules

# NPM Logs
npm_debug.log*

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

# Google Analytics service account credentials
**/Content Motive Dashboard-d1daf489cb9f.json
tests/_output/*
tests/_output/*