/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 23, 2017, 2:43:51 PM
    Author     : milo anderson
*/
.dark2 {
  background-color: #333333;
  color: silver;
}
body {
  background-color: #333333;
}
.wrap {
  display: flex;
  align-content: stretch;
}
body > .wrap > .container {
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  padding: 0px;
  background-color: #333333;
}
.pageviews {
  color: #84accd;
}
.visitors {
  color: #6666a0;
}
.entrances {
  color: #af5050;
}
.chartBox {
  width: 50%;
  height: calc(100vh -  120px);
  display: flex;
  flex-direction: column;
}
.chartBox .chart {
  background-color: white;
  padding-left: 10px;
}
.chartBox #controlsBox {
  background-color: #333333;
  color: silver;
  height: 120px;
  width: 100%;
  display: flex;
}
.chartBox #controlsBox .controls {
  display: flex;
  flex-direction: column;
  padding: 2px;
  margin: 10px;
  background-color: #222222;
  width: 100%;
}
.chartBox #controlsBox #menu-content {
  display: flex;
  flex-wrap: wrap;
}
.chartBox #controlsBox #menu-content ul {
  top: 28px;
}
.chartBox #controlsBox #menu-content > li:nth-of-type(2),
.chartBox #controlsBox #menu-content > ul:nth-of-type(2) {
  margin-left: 20em;
}
.chartBox #controlsBox #menu-content > ul,
.chartBox #controlsBox #menu-content > li {
  position: absolute;
  list-style: none;
  cursor: pointer;
  margin: 0px;
  padding-left: 0px;
  width: 18em;
}
.chartBox #controlsBox #menu-content > li {
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  background-color: #2d3947;
  padding-left: 10px;
  text-decoration: none;
  color: silver;
}
.chartBox #controlsBox ul .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
  padding-left: 10px;
  width: 100%;
  font-weight: lighter;
}
.chartBox #controlsBox ul .sub-menu li:hover {
  background-color: #020203;
}
.chartBox #controlsBox .control-panel.select {
  position: relative;
}
.chartBox #controlsBox .control-panel.date {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}
.chartBox #controlsBox .control-panel.date #dateRow1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 90%;
}
.chartBox #controlsBox .control-panel.date #dateRow1 #dateCol1 {
  display: flex;
}
.chartBox #controlsBox .control-panel.date #dateRow1 #dateCol1 input {
  width: 6.4em;
  height: 2em;
  padding-left: 5px;
  background-color: #eeeeee;
}
.chartBox #controlsBox .control-panel.date #dateRow1 #dateCol2 {
  display: flex;
}
.chartBox #controlsBox .control-panel.date #dateRow1 #dateCol2 button {
  padding: 3px;
}
.chartBox #controlsBox .control-panel.date #dateRow2 {
  width: 90%;
  margin-bottom: 5px;
}
.tableBox {
  background-color: #333333;
  color: silver;
  width: 50%;
  padding: 0px 25px;
  font-size: .9em;
}
.tableBox .readoutBox {
  background-color: #333333;
  color: silver;
  display: flex;
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px;
}
.tableBox .readoutBox .metric-panel {
  background-color: #222222;
  text-align: center;
  padding: 4px;
  margin: 10px;
  border-radius: 2px;
  width: 20%;
}
.tableBox .readoutBox .metric-panel h4 {
  padding: 2px;
  margin: 0px;
}
.tableBox table {
  background-color: #222222;
  border-color: #333333;
}
.tableBox table tbody > tr > td {
  padding: 5px 10px;
  border-color: #333333;
}
.tableBox table .tableData {
  font-size: 1.1em;
  vertical-align: middle;
}
.tableBox table .entrances,
.tableBox table .visitors,
.tableBox table .pageviews {
  font-size: 1.1em;
  vertical-align: middle;
  font-weight: bold;
}
.tableBox table .avg_time,
.tableBox table .bounce_rate {
  font-size: 1.1em;
  vertical-align: middle;
}
.tableBox table a {
  text-decoration: none;
}
.tableBox table a:after {
  font-family: 'Glyphicons Halflings';
  content: '\e114';
  color: silver;
  font-weight: normal;
}
.tableBox table a.asc:after {
  color: #FFBC56;
  content: '\e113';
}
.tableBox table a.desc:after {
  color: #FFBC56;
  content: '\e114';
}
#p0 .table-bordered > thead > tr > th {
  border-color: #333333;
}
.wanker {
  margin-left: -17px !important;
}
/*# sourceMappingURL=basics.css.map */