/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 23, 2017, 2:43:51 PM
    Author     : milo anderson
*/
.label {
  font-family: "Open Sans", sans-serif;
}
.data {
  font-family: Roboto, sans-serif;
}
.dark2 {
  background-color: #333333;
  color: silver;
}
.tableData {
  font-size: 1.1em;
  vertical-align: middle;
  font-family: Roboto, sans-serif;
}
.interface {
  outline: 0;
  color: #fab972;
  font-family: 'Open Sans Condensed', sans-serif;
  text-shadow: 1px 1px #1f272b;
  border: 1px solid #1c252b;
  background: #232B30;
  /* old browsers */
  background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #3D4850), color-stop(4%, #313d45), color-stop(100%, #232B30));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3D4850', endColorstr='#232B30', GradientType=0);
  /* ie */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* CSS3 */
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* Firefox */
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* Safari, Chrome */
}
.interface-hover {
  color: #faa861;
  background: #4C5A64;
  /* old browsers */
  background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #4C5A64), color-stop(4%, #404F5A), color-stop(100%, #2E3940));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C5A64', endColorstr='#2E3940', GradientType=0);
  /* ie */
}
.interface-active {
  background-position: 0 top;
  position: relative;
  top: 1px;
  color: #fab972;
  padding: 6px 12px 4px;
  background: #20282D;
  /* old browsers */
  background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #20282D), color-stop(51%, #252E34), color-stop(100%, #222A30));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#20282D', endColorstr='#222A30', GradientType=0);
  /* ie */
  -moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  /* Firefox */
  -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  /* Safari, Chrome */
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  /* CSS3 */
}
body {
  background-color: #333333;
}
.wrap {
  display: flex;
  align-content: stretch;
}
body > .wrap > .container {
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0px;
  background-color: #333333;
}
.pageviews {
  color: #84accd;
}
.visitors {
  color: #6666a0;
}
.entrances {
  color: #af5050;
}
.chartBox {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.chartBox h2,
.chartBox h3,
.chartBox h4,
.chartBox h5 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.chartBox .chart {
  background-color: white;
  padding-left: 10px;
  border-right: 3px solid #191919;
}
.chartBox .chart .xAxis,
.chartBox .chart .yAxis {
  font-family: "Open Sans", sans-serif;
}
.chartBox #controlsBox {
  background-color: #333333;
  color: silver;
  width: 100%;
  background-color: #191919;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.chartBox #controlsBox .divider {
  border-right: 1px solid #0c0c0c;
  border-left: 1px solid #262626;
}
.chartBox #controlsBox #menu-content {
  padding-left: 0px;
}
.chartBox #controlsBox #menu-content li.controls-title {
  cursor: default;
  color: silver;
  padding: 0px;
}
.chartBox #controlsBox #menu-content div:after {
  font-family: 'Glyphicons Halflings';
  color: #fab972;
  content: '\e113';
  font-weight: normal;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
.chartBox #controlsBox #menu-content #dealers {
  bottom: calc(64%);
}
.chartBox #controlsBox #menu-content #websites {
  bottom: calc(40%);
}
.chartBox #controlsBox #menu-content > li:nth-of-type(1) {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  position: relative;
  width: 12.5em;
}
.chartBox #controlsBox #menu-content > li:nth-of-type(2),
.chartBox #controlsBox #menu-content > ul:nth-of-type(1) {
  outline: 0;
  color: #fab972;
  font-family: 'Open Sans Condensed', sans-serif;
  text-shadow: 1px 1px #1f272b;
  border: 1px solid #1c252b;
  background: #232B30;
  /* old browsers */
  background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #3D4850), color-stop(4%, #313d45), color-stop(100%, #232B30));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3D4850', endColorstr='#232B30', GradientType=0);
  /* ie */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* CSS3 */
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* Firefox */
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* Safari, Chrome */
  color: silver;
  border: 0px;
}
.chartBox #controlsBox #menu-content > li:nth-of-type(3),
.chartBox #controlsBox #menu-content > ul:nth-of-type(2) {
  margin-top: 2em;
  outline: 0;
  color: #fab972;
  font-family: 'Open Sans Condensed', sans-serif;
  text-shadow: 1px 1px #1f272b;
  border: 1px solid #1c252b;
  background: #232B30;
  /* old browsers */
  background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #3D4850), color-stop(4%, #313d45), color-stop(100%, #232B30));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3D4850', endColorstr='#232B30', GradientType=0);
  /* ie */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* CSS3 */
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* Firefox */
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* Safari, Chrome */
  color: silver;
  border: 0px;
}
.chartBox #controlsBox #menu-content > ul,
.chartBox #controlsBox #menu-content > li {
  position: absolute;
  list-style: none;
  cursor: pointer;
  margin: 0px;
  padding-left: 0px;
  width: 16em;
  z-index: 1100;
}
.chartBox #controlsBox #menu-content > li {
  line-height: 24px;
  padding-left: 10px;
  text-decoration: none;
  color: silver;
}
.chartBox #controlsBox ul .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 24px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
  padding-left: 10px;
  width: 100%;
  font-weight: lighter;
}
.chartBox #controlsBox ul .sub-menu li:hover {
  background-color: #020203;
}
.chartBox #controlsBox .control-panel.select {
  position: relative;
  padding: 15px;
}
.chartBox #controlsBox .control-panel.date {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.chartBox #controlsBox .control-panel.date button {
  outline: 0;
  color: #fab972;
  font-family: 'Open Sans Condensed', sans-serif;
  text-shadow: 1px 1px #1f272b;
  border: 1px solid #1c252b;
  background: #232B30;
  /* old browsers */
  background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #3D4850), color-stop(4%, #313d45), color-stop(100%, #232B30));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3D4850', endColorstr='#232B30', GradientType=0);
  /* ie */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* CSS3 */
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* Firefox */
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* Safari, Chrome */
  height: 32px;
  width: 50%;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.chartBox #controlsBox .control-panel.date button:hover {
  color: #faa861;
  background: #4C5A64;
  /* old browsers */
  background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #4C5A64), color-stop(4%, #404F5A), color-stop(100%, #2E3940));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C5A64', endColorstr='#2E3940', GradientType=0);
  /* ie */
}
.chartBox #controlsBox .control-panel.date button:active {
  background-position: 0 top;
  position: relative;
  top: 1px;
  color: #fab972;
  padding: 6px 12px 4px;
  background: #20282D;
  /* old browsers */
  background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #20282D), color-stop(51%, #252E34), color-stop(100%, #222A30));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#20282D', endColorstr='#222A30', GradientType=0);
  /* ie */
  -moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  /* Firefox */
  -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  /* Safari, Chrome */
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  /* CSS3 */
}
.chartBox #controlsBox .control-panel.date input {
  width: 7em;
  height: 1.8em;
  background-color: #eeeeee;
}
.chartBox #controlsBox .control-panel.date #dateRow1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
  width: 100%;
}
.chartBox #controlsBox .control-panel.date #dateRow2 {
  margin-bottom: 5px;
  width: 100%;
}
.chartBox #controlsBox .control-panel.date #dateRow3 {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.tableBox {
  background-color: #333333;
  color: silver;
  width: 50%;
  padding: 0px 25px;
  font-size: .9em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.tableBox .readoutBox {
  background-color: #333333;
  color: silver;
  display: flex;
  justify-content: space-between;
  padding: 10px 1px;
  font-weight: 700;
}
.tableBox .readoutBox h4 {
  font-size: 18px;
}
.tableBox .readoutBox .metric-panel {
  font-family: Roboto, sans-serif;
  background-color: #191919;
  text-align: center;
  font-size: 25px;
  padding: 4px;
  border-radius: 2px;
  width: 19%;
}
.tableBox .readoutBox .metric-panel .metric-title {
  font-family: "Open Sans", sans-serif;
  padding: 2px;
  margin: 0px;
}
.tableBox table {
  background-color: #191919;
  border-color: #333333;
  margin-bottom: 5px;
  height: 100%;
}
.tableBox table thead > tr > th:not(:nth-child(1)) {
  outline: 0;
  color: #fab972;
  font-family: 'Open Sans Condensed', sans-serif;
  text-shadow: 1px 1px #1f272b;
  border: 1px solid #1c252b;
  background: #232B30;
  /* old browsers */
  background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #3D4850), color-stop(4%, #313d45), color-stop(100%, #232B30));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3D4850', endColorstr='#232B30', GradientType=0);
  /* ie */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* CSS3 */
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* Firefox */
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* Safari, Chrome */
  text-align: center;
  padding: 3px 0px 0px 0px;
  height: 100%;
}
.tableBox table thead > tr > th:not(:nth-child(1)) a {
  display: block;
  height: 100%;
}
.tableBox table thead > tr > th:last-child {
  border-right: 0;
}
.tableBox table thead > tr > th:hover:not(:nth-child(1)) {
  color: #faa861;
  background: #4C5A64;
  /* old browsers */
  background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #4C5A64), color-stop(4%, #404F5A), color-stop(100%, #2E3940));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C5A64', endColorstr='#2E3940', GradientType=0);
  /* ie */
}
.tableBox table thead > tr > th:active:not(:nth-child(1)) {
  background-position: 0 top;
  position: relative;
  top: 1px;
  color: #fab972;
  padding: 6px 12px 4px;
  background: #20282D;
  /* old browsers */
  background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #20282D), color-stop(51%, #252E34), color-stop(100%, #222A30));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#20282D', endColorstr='#222A30', GradientType=0);
  /* ie */
  -moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  /* Firefox */
  -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  /* Safari, Chrome */
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  /* CSS3 */
}
.tableBox table thead > tr > th:nth-child(1) {
  background-color: #333333;
  border-bottom: none;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 1.2em;
  padding: 0px 0px 2px 0px;
}
.tableBox table tbody > tr > td {
  padding: 5px 10px;
  border-color: #333333;
  text-align: right;
  font-family: Roboto, sans-serif;
}
.tableBox table tbody > tr > td:nth-child(1) {
  text-align: left;
}
.tableBox table .entrances,
.tableBox table .visitors,
.tableBox table .pageviews {
  font-size: 1.1em;
  vertical-align: middle;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}
.tableBox table .avg_time,
.tableBox table .bounce_rate {
  font-size: 1.1em;
  vertical-align: middle;
  font-family: Roboto, sans-serif;
}
.tableBox table a {
  text-decoration: none;
}
.tableBox table a:after {
  font-family: 'Glyphicons Halflings';
  content: '\e114';
  color: silver;
  font-weight: normal;
}
.tableBox table a.asc:after {
  color: #fab972;
  content: '\e113';
}
.tableBox table a.desc:after {
  color: #fab972;
  content: '\e114';
}
.tableBox .pagination {
  margin: 0px;
}
.tableBox .pagination li > a,
.tableBox .pagination li.disabled span {
  outline: 0;
  color: #fab972;
  font-family: 'Open Sans Condensed', sans-serif;
  text-shadow: 1px 1px #1f272b;
  border: 1px solid #1c252b;
  background: #232B30;
  /* old browsers */
  background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #3D4850), color-stop(4%, #313d45), color-stop(100%, #232B30));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3D4850', endColorstr='#232B30', GradientType=0);
  /* ie */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* CSS3 */
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* Firefox */
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* Safari, Chrome */
}
.tableBox .pagination li > a:hover {
  color: #faa861;
  background: #4C5A64;
  /* old browsers */
  background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #4C5A64), color-stop(4%, #404F5A), color-stop(100%, #2E3940));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C5A64', endColorstr='#2E3940', GradientType=0);
  /* ie */
}
.tableBox .pagination li.active a {
  background-position: 0 top;
  position: relative;
  top: 1px;
  color: #fab972;
  padding: 6px 12px 4px;
  background: #20282D;
  /* old browsers */
  background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #20282D), color-stop(51%, #252E34), color-stop(100%, #222A30));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#20282D', endColorstr='#222A30', GradientType=0);
  /* ie */
  -moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  /* Firefox */
  -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  /* Safari, Chrome */
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  /* CSS3 */
}
#p0 .table-bordered > thead > tr > th {
  border-color: #333333;
}
.wanker {
  margin-left: -17px !important;
}
/*# sourceMappingURL=basics.css.map */