body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
body > div.wrap > nav.navbar {
  height: 74px;
  z-index: 1000;
  margin-bottom: 0px;
}
nav #w1 .active {
  border-bottom: solid 1px #cd2128;
}
body > .wrap > .container {
  padding-top: 74px;
}
.navbar-header .navbar-brand {
  padding-top: 10px;
}
.navbar-brand > img {
  float: left;
}
#logoTxt {
  display: inline-block;
  margin-left: 10px;
  margin-top: 7px;
  font-family: 'Bree Serif', serif;
  line-height: 20px;
  font-size: 26px;
}
#logoTxt .con {
  color: #CF2129;
}
#logoTxt .MOT {
  color: #3AC0BE;
}
.readout {
  font-weight: bold;
  font-size: 32px;
}
.ui-state-active {
  border: 1px solid dimgray;
  background: dimgray;
}
.ui-accordion-header {
  font-weight: bold;
}
#accordion .date {
  width: 46%;
  padding: 0px 6px;
  height: 30px;
  display: inline;
}
#accordion .btn-primary {
  margin: auto;
  margin-top: 25px;
}
#controls ul,
#controls li {
  list-style: none;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  line-height: 28px;
  font-weight: bold;
}
#controls .active,
#controls li .active {
  background-color: #4f5b69;
}
#controls ul .sub-menu li.active,
#controls li .sub-menu li.active {
  color: #d19b3d;
}
#controls ul .sub-menu li.active a,
#controls li .sub-menu li.active a {
  color: #d19b3d;
}
#controls ul .sub-menu li,
#controls li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
  padding-left: 20px;
  font-weight: lighter;
}
#controls ul .sub-menu li:hover,
#controls li .sub-menu li:hover {
  background-color: #020203;
}
#controls li {
  padding-left: 0px;
  border-bottom: 1px solid #23282e;
  background-color: #2d3947;
  padding-left: 10px;
}
#controls li a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #e1ffff;
}
.navbar-header {
  position: fixed;
  left: 20px;
}
#controls .control-panel {
  float: left;
}
.control-panel {
  margin: 10px;
  padding: 5px;
  background-color: #000;
}
.control-panel p {
  color: #fff;
  line-height: 14px;
}
.control-panel input {
  display: inline-block;
  width: 40%;
  height: 2em;
  background-color: #eeeeee;
}
.control-panel.select {
  width: 20em;
}
#dateRow1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
#dateRow2 {
  margin: auto;
  width: 85%;
  margin-bottom: 10px;
}
#dateRow3 {
  display: flex;
  justify-content: center;
}
#dateRow3 button {
  width: 6em;
  padding: 3px;
  margin: 0px 5px;
}
body > .wrap > .container {
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  overflow: none;
  display: flex;
}
.dash-panel h1 {
  margin-top: 0px;
  padding: 20px 0px 15px 30px;
  color: silver;
}
#chart-sidebar {
  color: silver;
  background-color: #333333;
  height: 100%;
}
.pageviews {
  color: #84accd;
}
.visitors {
  color: #6666a0;
}
.entrances {
  color: #af5050;
}
.metric-panel {
  background-color: #000;
  width: 70%;
  margin: 0px;
  text-align: center;
  border-radius: 20px;
  padding: 4px;
}
.metric-heading h3 {
  margin-top: 0px;
}
.selector {
  padding: 1px;
  background-color: #2d3947;
  border: 1px solid #0f1b29;
  cursor: pointer;
}
.selector option {
  padding: 4px;
}
.selector option:hover {
  background-color: #000;
}
#menu-content .collapsing {
  -webkit-transition: height .01s ease;
  -o-transition: height .01s ease;
  transition: height .01s ease;
}
.chartBox {
  display: flex;
  width: 60%;
  height: 500px;
  margin-top: 120px;
}
.chartBox .left {
  width: 80%;
}
#chart-sidebar {
  margin: 0;
  padding: 0;
}
.chartBox .right {
  width: 20%;
  margin: 0;
  padding: 0;
}
.tableBox {
  width: 40%;
  margin-top: 120px;
  background-color: #333333;
  color: silver;
}
.tableBox table colgroup .content-strategy {
  width: 25%;
}
.tableBox .entrances,
.tableBox .visitors,
.tableBox .pageviews,
.tableBox .avg_time,
.tableBox .bounce_rate {
  font-weight: bold;
  font-size: 1.2em;
  width: 13%;
  vertical-align: middle;
}
.tableBox .table {
  background-color: #222222;
}
#p0 .table-bordered > thead > tr > th {
  border-color: #333333;
}
.tableBox .table td {
  padding: 2px 10px;
  border-color: #333333;
}
#controls {
  position: fixed;
  top: 74px;
  width: 100%;
  height: 120px;
  background-color: #333333;
  z-index: 2000;
}
.glyphicon {
  float: right;
  margin: 5px;
}
.summary {
  float: left;
}
.tableBox .pagination {
  float: right;
  margin: 0px;
}
/*# sourceMappingURL=dashboard.css.map */